#advantages{
	padding-top: 60px;
	padding-bottom: 60px;
}

.advantages{
		&__list{
			padding-left: 0px;
		}

		&__item{
			margin: 0;
			padding-left: 0px;
		}

		&__card{
			@include flex-container(center, center);
			height: 120px;
			margin-bottom: 30px;
			background-color: var(--seconday-bg-cl);
		}

		&__title{
			@include text-height-spacing-family('', 0.03em);
			@include text-weight-size (700, 14px);
			text-transform: uppercase;
			margin:0;
			display: flex;
			justify-content: center;
			
		}

		&__icon{
			@include w-h(70px, 70px);
		}

		&__text{
			@include text-height-spacing-family(171%, 0.03em);
			@include text-weight-size(400, 14px);
			color: var(--secondary-txt-cl);
		}

}

@media screen and (min-width:768px) {
	.advantages__list{
		grid-template-columns: repeat(2,2fr);
		grid-gap: 30px;
		display: grid;
		flex-basis: calc((100% - 90px) / 4);
	}

	.advantages__title{
		justify-content: left;
	}
}

@media screen and (min-width:1200px) {
	#advantages{
		padding-top: 94px;
		padding-bottom: 94px;
	}
	
	.advantages__list{
		grid-template-columns: repeat(4,1fr);
	}

}