.clients {
   &__title{
	@include text-height-spacing-family(1.16, 0.03em);
	text-align: center;
	text-transform: capitalize;
	margin-top: 60px;
	margin-bottom: 30px;
  }

  &__list{
	display: grid;
	grid-template-columns: repeat(2,3fr);
	gap: 27px;
	margin-bottom: 59px;
	margin-top: 0;
	padding-left: 0px;
  }
  
  &__link {
	@include flex-container(center, center);
	@include w-h(100%, 92px);
	border-radius: 4px;
	border: 1px solid var(--logo-bg-secundary);
  }
  
  &__link:hover,
  &__link:focus {
	border: 1px solid var(--btn-primary-bg-cl);
  }
  &__link:hover &__logo,
  &__link:focus &__logo {
	fill: var(--btn-primary-bg-cl);
  }

  &__logo {
	@include w-h(106px, 60px);
	fill: var(--logo-bg-secundary);
  }

}

@media screen and (min-width:768px) {
	
	.clients__list{
		grid-template-columns: repeat(3,2fr);
	}
}

@media screen and (min-width:1200px) {
	
	.clients__title{
		margin-top: 94px;
		margin-bottom: 50px;
	}
	
	.clients__list{
		display: flex;
		justify-content: center;
		margin-bottom: 94px;
	}
	
	.clients__link{
		width: 170px;
	}

}