
	:root{
	
		--primary-bg-cl: #2f303a;
		--seconday-bg-cl: #f5f4fa;
		--primary-txt-cl: #212121;
		--secondary-txt-cl: #757575;
		--white-txt-cl: #ffffff;
		--logo-link-txt-cl: #2196f3;
		--btn-primary-bg-cl: #2196f3;
		--logo-bg-secundary: #afb1b8;


}